[Unit]
Description=Lottery service

[Service]
Type=simple
User=root
Group=root
Restart=on-failure
EnvironmentFile=/opt/lottery/lottery.env
ExecStart=/usr/local/lottery -config /etc/lottery.yaml
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=lottery

[Install]
WantedBy=multi-user.target
